body{
	background: black no-repeat fixed center center;
	background-size: contain;
}
.container-fluid{
}
.changeBackground{
	position: fixed;
	bottom: 5px;
	text-align: left;
	color: black;
}
#weather {
	float: right;
	font-weight: bold;
	color: white;
	border-radius: 25px;
	font-size: x-large;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	background-color: darkgrey;
	opacity: .8;
}